<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Lista de Administradores</h1>
    <%= link_to "Novo Administrador", new_administradors_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @administradors.each do |administrador| %>
        <tr>
          <td><%= administrador.nome %></td>
          <td><%= administrador.email %></td>
          <td class="text-center">
            <%= link_to "Editar", edit_administradors_path(administrador), class: 'btn btn-primary' %>

            <%= form_with url: administradors_path(administrador), method: :delete, local: true, class: 'd-inline' do %>
              <%= submit_tag "Excluir", data: { confirm: "Tem certeza?" }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
