<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Administradores</h1>
    <%= link_to "Adicionar Administrador", new_administrador_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @administradors.each do |administrador| %>
        <tr>
          <td><%= administrador.nome %></td>
          <td><%= administrador.email %></td>
          <td>
            <%= link_to 'Editar', edit_administrador_path(administrador), class: 'btn btn-primary' %>

            <%= form_with(url: administrador_path(administrador), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'd-inline') do %>
              <%= submit_tag 'Excluir', class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Pagina Principal', root_path, class: 'btn btn-secondary mt-4' %>
</div>
